<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] LegalSoft</title>
  <link rel="icon" type="image/png" href="~/img/logo.png" />

  <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/LegalSoft.styles.css" asp-append-version="true" />

  <!-- SweetAlert2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LegalSoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

@if (User.Identity.IsAuthenticated && User.IsInRole("Equipo") || User.IsInRole("Administrador")){

  <!-- Gestión Trabajo -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Trabajo
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
      <li>
        <a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Index">Mis Clientes</a>
      </li>
       @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador")){

      <li>
        <a class="dropdown-item" asp-area="" asp-controller="Equipos" asp-action="Index">Mi Equipo</a>
      </li>
      }
      <li>
        <a class="dropdown-item" asp-area="" asp-controller="Consultas" asp-action="Index">Mis Atenciones</a>
      </li>
       @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador")){

      <li>
        <a class="dropdown-item" asp-area="" asp-controller="Expedientes" asp-action="Index">Mis Expedientes</a>
      </li>
      }
    </ul>
  </li>

  <!-- Gestión Agenda -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Agenda
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
      <!-- <li>
        <a class="dropdown-item" asp-area="" asp-controller="Recordatorios" asp-action="Index">Mis Recordatorios</a>
      </li> -->
      <li>
        <a class="dropdown-item" asp-area="" asp-controller="Turnos" asp-action="Index">Mis Turnos</a>
      </li>
       @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador")){

      <li>
        <a class="dropdown-item" asp-area="" asp-controller="Pendientes" asp-action="Index">Mi Agenda</a>
      </li>
      }
    </ul>
  </li>
}
  <!-- Informes -->
   @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador")){
  <li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Graficos">Informes</a>
  </li>
  }
  <!-- Contacto -->
   @if (User.Identity.IsAuthenticated && !User.IsInRole("Administrador") && !User.IsInRole("Equipo")){
  <li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Contactos" asp-action="Index">Contacto</a>
  </li>
  
  }
  
</ul>

  
  




 
 

          
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2024 - LegalSoft - Vane <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
