@{
    ViewData["Title"] = "Consultas";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<body class="body2 fondoLogo">
@* <div class="text-center">
    <h1 class="display-4 letra">Consultas por cliente</h1>
</div> *@

<div class="text-center m-4">
  <img src="~/img/consultasImg.png" alt="" class="juntos imgIcono">
    <h1 class="titulos juntos">MIS ATENCIONES</h1>
</div>
        <hr class="hrTitulos m-4">
<div class="row">
<div class="mb-3 col-3">
  <label for="NombreCompletoBuscar" class="form-label">Nombre Completo</label>
  <input type="text" id="NombreCompletoBuscar" class="form-control"/>
</div>
<div class="mb-3 col-3">
  <label for="NroTipoDocBuscar" class="form-label">DNI</label>
  <input type="text" id="NroTipoDocBuscar" class="form-control"/>
</div>
<div class="mb-3 col-3">
  <button style="margin-top: 32px;" type="button" class="btn btn-secondary" onclick="ListadoConsultas()">
    Filtrar
  </button>
</div>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" class="btn btn-secondary" onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalConsultas">
    Nueva Consulta
  </button>
</div>
@* //MODIFICAR AQUI IRIAN CARDS VER VER VER VER////////// *@

<table class="table table-dark table-borderedless table-striped table-condensed">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Equipo</th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
    </tr>
  </thead>
  <tbody  id="tbody-consultas">
  </tbody>
</table>




<!-- Modal -->
<div class="modal fade" id="ModalConsultas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-secondary">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="ModalTitulo">Nueva Consulta</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <input type="hidden" id="ConsultaID" value="0" />

            <div class="mb-3 col-6">
             <label for="NombreCompletoCliente" class="form-label">Nombre Cliente</label>
             <input type="text" class="form-control" id="NombreCompletoCliente" style="text-transform:uppercase" placeholder="Nombre del cliente">
            </div>

            <div class="mb-3 col-6">
             <label for="NombreCompletoEquipo" class="form-label">Nombre Equipo</label>
             <input type="text" class="form-control" id="NombreCompletoEquipo" style="text-transform:uppercase" placeholder="Nombre del personal">
            </div>

            <div class="mb-3 col-6">
             <label for="Descripcion" class="form-label">Descripción</label>
             <input type="text" class="form-control" id="Descripcion" style="text-transform:uppercase" placeholder="Descripción de la Consulta">
            </div>

            

            <div class="mb-3 col-6">
              <label for="Fecha" class="form-label">Fecha</label>
              <input type="date" id="Fecha" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-warning">Guardar</button>
      </div>
    </div>
  </div>
</div>






@section Scripts {
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

  <script src="~/js/consulta-1.0.0.js"></script>
}

</body>
