@{
    ViewData["Title"] = "Contacto";
}

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">

<link rel="stylesheet" href="~/lib/animate.css">

<link rel="stylesheet" href="~/css/style.css">
<body class="fondoLogo">

  <section id="Contacto">
    <div class="p-4">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">

          <img src="~/img/contactoImg.png" alt="" class="imgIcono juntos">
        

          <h1 class="titulos text-center juntos"  >CONTACTANOS</h1>

        </div>

        <hr class="hrTitulos m-4">

        <div class="col-md-6 col-sm-12 text-center p-5">
          <form action="">
            <div class="form-group m-1 ">
              <input type="text" id="Nombre" class="form-control" placeholder="Nombre">

            </div>

            <div class="form-group m-1">
              <input type="text" id="Email" class="form-control" placeholder="Email">

            </div>


            <div class="form-group m-1">
              <textarea name="Mensaje" id="Mensaje" cols="20" rows="8" placeholder="Mensaje"
                class="form-control"></textarea>

            </div>

            <input type="submit" class="btn btn-secondary m-1" value="Enviar" id="Enviar">
          </form>

        </div>
        <div class="col-md-6 col-sm-12 text-center p-5">
          <a class="icono" href="https://www.facebook.com/vanecarreras91/" target="_blank"><i
              class="fa-brands fa-facebook-f"></i></a>
          <a class="icono" href="https://z-p15.www.instagram.com/carreras.vanessa/?hl=es-la" target="_blank"><i
              class="fa-brands fa-instagram"></i></a>
          
          <a class="icono" href="https://wa.me/3562671294" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          <a class="icono" href="https://www.linkedin.com/in/vanessa-carreras/" target="_blank"><i
              class="fa-brands fa-linkedin-in"></i></a>
          <br>
          <br>
          <br>
          <div ><i class="fa-solid fa-location-dot icono2"></i>
            <p class="bco">Sarmiento 97, Morteros, Córdoba, Argentina</p>
          </div>
          <div><i class="fa-solid fa-phone icono2"></i>
            <p class="bco">3562-671294</p>
          </div>




        </div>

      </div>
    </div>
    

  </section>

@*     

  <script src="~/lib/jquery-3.5.1.slim.min.js"></script>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@

  <script src="~/lib/fontawesome/js/all.min.js"></script>

  <script src="~/lib/wow.js"></script>

  <script>
    new WOW().init();
  </script>
    </body>

