@{
    ViewData["Title"] = "Equipos";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<body class="body2  fondoLogo">
<div class="text-center m-4">
    <img src="~/img/equiposImg.png" alt="" class="juntos imgIcono">

    <h1 class="titulos juntos">EQUIPO</h1>
</div>
        <hr class="hrTitulos m-4">

<div class="row">
<div class="mb-3 col-3">
  <label for="NombreCompletoBuscar" class="form-label">Nombre Completo</label>
  <input type="text" id="NombreCompletoBuscar" class="form-control"/>
</div>
<div class="mb-3 col-3">
  <label for="NroTipoDocBuscar" class="form-label">DNI</label>
  <input type="text" id="NroTipoDocBuscar" class="form-control"/>
</div>
<div class="mb-3 col-3">
  <button style="margin-top: 32px;" type="button" class="btn btn-secondary" onclick="ListadoEquipos()">
    Filtrar
  </button>
</div>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" class="btn btn-secondary" onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalEquipos">
    Nuevo Equipo
  </button>
</div>

<table class="table table-dark table-borderedless table-striped table-condensed">
  <thead>
    <tr>
      <th>Nro Legajo</th>
      <th>Nombre Completo</th>
      <th>DNI</th>
      <th>Dirección</th>
      <th>Telefono</th>
      <th>Fecha de Nacimiento</th>
      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
    </tr>
  </thead>
  <tbody  id="tbody-clientes">
  </tbody>
</table>




<!-- Modal -->
<div class="modal fade" id="ModalEquipos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-secondary">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="ModalTitulo">Nuevo Equipo</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <input type="hidden" id="EquipoID" value="0" />
            <div class="mb-3 col-6">
             <label for="NroLegajo" class="form-label">Nro Legajo</label>
             <input type="text" class="form-control" id="NroLegajo" style="text-transform:uppercase" placeholder="Nro Legajo">
            </div>

            <div class="mb-3 col-6">
             <label for="NombreCompleto" class="form-label">Nombre Completo</label>
             <input type="text" class="form-control" id="NombreCompleto" style="text-transform:uppercase" placeholder="Nombre">
            </div>

            <div class="mb-3 col-6">
             <label for="DNI" class="form-label">DNI</label>
             <input type="text" class="form-control" id="DNI" style="text-transform:uppercase" placeholder="DNI">
            </div>

            <div class="mb-3 col-6">
             <label for="Direccion" class="form-label">Dirección</label>
             <input type="text" class="form-control" id="Direccion" style="text-transform:uppercase" placeholder="Direccion">
            </div>

            <div class="mb-3 col-6">
             <label for="Telefono" class="form-label">Telefono</label>
             <input type="text" class="form-control" id="Telefono" style="text-transform:uppercase" placeholder="Telefono">
            </div>

            <div class="mb-3 col-6">
              <label for="FechaNac" class="form-label">Fecha de Nacimiento</label>
              <input type="date" id="FechaNac" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-warning">Guardar</button>
      </div>
    </div>
  </div>
</div>






@section Scripts {
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

  <script src="~/js/equipo-1.0.0.js"></script>
}

</body>
