/* Ajustes de tamaño de fuente */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Estilos de foco */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Ajustes generales */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Carrusel */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.carousel {
  display: flex;
}

.carousel img {
  margin-top: 20px;
  width: 140vh;
  height: 70vh;
  object-fit: contain;
  object-position: center;
}

/* Ajuste de márgenes */
.derecha {
  margin-top: 20px;
  margin-left: auto;
}

/* Fondo personalizado */
.fondoLogo {
  background-image: url('../img/fondo.png');
  background-repeat: repeat;
  background-position: top center;
  background-size: auto calc(100vh / 10);
  width: 100vw;
  height: 100vh;
}

.fondoMio {
  background-image: url('../img/fondoMio.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.imgIngresar, .imgRegistrarse {
  height: 50vh;
}

.fondoAes {
  background-image: url('../img/aestheticFondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.icono {
  font-size: 3rem;
  padding: 0px 15px;
  color: lightsalmon;
}

.icono:active {
  color: palevioletred;
}

.icono2 {
  font-size: 2rem;
  padding: 0px 15px;
  color: lightsalmon;
}

/* .formContacto {
  width: 400px;
} */

.transparenciaImg {
  background-color: rgba(255, 255, 255, 0.35);
}

.parrafos {
  font-size: 1.3rem;
  line-height: 2;
}

textarea {
  resize: none;
  height: 250px;
}

input.form-control, textarea.form-control {
  border: 3px solid lightsalmon;
  box-shadow: 0px 0px 6px 3px azure !important;
}

input.btn:hover {
  box-shadow: 0px 0px 6px 3px rgba(122, 122, 122, 0.5) !important;
}

.imgIcono {
  width: 4%;
}

.juntos {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bco {
  color: white;
  text-shadow:
    1px 1px 0 coral, 
    -1px -1px 0 coral, 
    -1px 1px 0 coral, 
    1px -1px 0 coral, 
    1px 1px 0 coral, 
    -2px -2px 0 coral, 
    -2px 2px 0 coral, 
    2px -2px 0 coral;
  font-size: 20px;
}

#calendar {
  background-color: #f0f0f0;
}

.fc .fc-col-header-cell-cushion,
.fc .fc-daygrid-day-top,
.fc .fc-daygrid-day-number,
.fc .fc-daygrid-event {
  color: black;
}

.fc .fc-daygrid-day-frame {
  border: 1px solid coral;
  background-color: #f0f0f0;
}

#calendar {
  width: 60%;
  height: 450px;
  margin: auto;
  font-size: 0.6em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 70px !important;
  height: 70px !important;
}

.titulos {
  font-size: 28px;
}

.custom-navbar {
  background: linear-gradient(90deg, coral 0%, gray 100%);
  padding: 12px 24px;
  border-bottom: 4px solid rgb(195, 68, 22);
  height: 70px;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #fff;
}

.custom-navbar .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-nav .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-navbar .dropdown-menu {
  background-color: coral;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-navbar .dropdown-item {
  color: #fff !important;
}

.custom-navbar .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.carousel-caption {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


